Urlaubsantrag/Service References/MitarbeiterService/Mitarbeiter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Mitarbeiter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14708/Workflows/Mitarbeiter.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14708/Workflows/Mitarbeiter.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14708/Workflows/Mitarbeiter.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UrlaubsantragService.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_StartUrlaubsantrag_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUrlaubsantrag" />
  </wsdl:message>
  <wsdl:message name="IService_StartUrlaubsantrag_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUrlaubsantragResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswer" />
  </wsdl:message>
  <wsdl:message name="IService_GetAnswer_OutputMessage" />
  <wsdl:message name="IService_GetAntwort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAntwort" />
  </wsdl:message>
  <wsdl:message name="IService_GetAntwort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAntwortResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="StartUrlaubsantrag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StartUrlaubsantrag" message="tns:IService_StartUrlaubsantrag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartUrlaubsantragResponse" message="tns:IService_StartUrlaubsantrag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAnswer" message="tns:IService_GetAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAnswerResponse" message="tns:IService_GetAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAntwort">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAntwort" message="tns:IService_GetAntwort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAntwortResponse" message="tns:IService_GetAntwort_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartUrlaubsantrag">
      <soap:operation soapAction="http://tempuri.org/IService/StartUrlaubsantrag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswer">
      <soap:operation soapAction="http://tempuri.org/IService/GetAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAntwort">
      <soap:operation soapAction="http://tempuri.org/IService/GetAntwort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mitarbeiter">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:14708/Workflows/Mitarbeiter.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>