Urlaubsantrag/Service References/MitarbeiterService/Mitarbeiter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14708/Workflows/Mitarbeiter.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UrlaubsantragService.Contract" />
  <xs:element name="StartUrlaubsantrag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UrlaubsantragService.Contract" minOccurs="0" name="antrag" nillable="true" type="q1:Urlaubsantrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartUrlaubsantragResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceCorrelationid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AntragEmpfangen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correlationid" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UrlaubsantragService.Contract" minOccurs="0" name="antrag" nillable="true" type="q2:Urlaubsantrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAntwort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correlationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAntwortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UrlaubsantragService.Contract" minOccurs="0" name="antrag" nillable="true" type="q3:Urlaubsantrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>