Urlaubsantrag/Service References/VorgesetzterService/Vorgesetzter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UrlaubsantragService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UrlaubsantragService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Urlaubsantrag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nachname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:AntragStatus" />
      <xs:element minOccurs="0" name="Urlaubsbeginn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Urlaubsende" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Vorname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Urlaubsantrag" nillable="true" type="tns:Urlaubsantrag" />
  <xs:simpleType name="AntragStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Offen" />
      <xs:enumeration value="Genehmigt" />
      <xs:enumeration value="Abgelehnt" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AntragStatus" nillable="true" type="tns:AntragStatus" />
</xs:schema>